**/.env
**/.env*.local

**/build/
**/dist/
**/coverage/
**/esports-data

frontend/node_modules/
frontend/.next/
frontend/out
frontend/.pnp
frontend/.pnp.js
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/**/esports-data/*
backend/**/derived-data/*
backend/**/games/*

backend/**/__pycache__/
backend/**/.pytest_cache/
backend/**/venv/
backend/**/deployments/*
backend/**/deployed/*
