**/.env
**/.env*.local

**/build/
**/dist/
**/coverage/

frontend/node_modules/
frontend/.next/
frontend/out
frontend/.pnp
frontend/.pnp.js
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/esports-data/*
backend/games/*

backend/.chalice/deployments/
backend/.chalice/venv/

backend/__pycache__/
backend/.pytest_cache/
backend/venv/
