@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle,
    rgba(231, 15, 15, 1) 0%,
    rgba(89, 6, 6, 1) 100%
  );
  color: rgb(188, 185, 185);
}

.divider::after {
  content: '|';
  display: inline-block;
  margin-left: 1.5rem;
  color: rgba(255, 255, 255, 1);
}
